<h1>Gear #<%= @gear.id %></h1>

<p>
  <b>Name:</b>
  <%= @gear.name %>
</p>

<p>
  <b>Category:</b>
  <%= @gear.category %>
</p>

<p>
  <b>Price:</b>
  <%= @gear.price %>
</p>

<p>
  <b>Image url:</b>
  <%= @gear.image_url %>
</p>


